<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyFirstCRUD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form action="#" th:action="@{/edit-user/{id}(id=${user.id})}" th:object="${user}" method="post">
        <label for="name">Name</label>
        <input type="text" th:field="*{firstName}" id="name" placeholder="Name">
        <label for="lastName">LastName</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age" placeholder="Age">
        <input type="submit" value="Edit User">
    </form>
</div>
</body>
</html>